.idea
.vscode

bin/*
!bin/apache
bin/apache/*
!bin/apache/httpd-2.4
bin/apache/httpd-2.4/*
!bin/apache/httpd-2.4/conf
bin/apache/httpd-2.4/conf/*
!bin/apache/httpd-2.4/conf/httpd.conf
bin/apache/httpd-2.4/conf/extra/*
!bin/apache/httpd-2.4/conf/extra/httpd-ssl.conf

bin/laragon/*
!bin/laragon/tpl
bin/laragon/tpl/*
!bin/laragon/tpl/openssl.conf.tpl

bin/mysql/*
!bin/mysql/mariadb-10.7
bin/mysql/mariadb-10.7/*
!bin/mysql/mariadb-10.7/my.ini

bin/php/*
!bin/php/php8.1
bin/php/php8.1/*
!bin/php/php8.1/phpini

/data/

etc/*
!etc/apache2
etc/apache2/*
!etc/apache2/httpd-ssl.conf
!etc/apache2/alias
etc/apache2/alias/*
!etc/apache2/alias/example.conf

!etc/apps
etc/apps/*
!etc/apps/example

!etc/ssl
etc/ssl/*
!etc/ssl/auto.openssl.conf

/tmp

/usr
!usr/tpl/openssl.conf.tpl

www/*
!www/index.php

/laragon.exe